<!-- new form -->

<div class=" flex-r container">
    <div class="flex-r login-wrapper">
      <div class="login-text">
        <div class="logo">
          <span><i class="fab fa-speakap"></i></span>
        <div>
          <img src="./assets/images/libLOGO.png" alt="" class="logo">
        </div>
        </div>
        <h1>Log In</h1>
        <p>It's not long before you embark on this journey! </p>
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
          <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
          <div *ngIf="signInForm.submitted && email.errors?.pattern">
            <label class="validation-message">Invalid email address.</label>
          </div>
          <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
          <div *ngIf="signInForm.submitted && password.errors?.minlength">
            <label class="validation-message">Minimum 4 characters.</label>
          </div>
          <input type="submit" value="Sign In">
        
        </form>
        <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
        <span class="extra-line">
          <span>Don't have an account?</span>
          <a href="/">Create One</a>
        </span>
      
 

      </div>
    </div>
  </div>
