@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@1,700&family=Moon+Dance&display=swap');
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;    
  }
  .navbar {
    margin-bottom: 0px;
    background-color:rgba(229, 232, 221, 0.56);
  }
  .btn-holder{
    padding-top: 18px;
    text-align: center;

  }
  .nav{
    margin-right: 10px;
  }
  .btns{
    padding-right: 10px;
    
  }
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Gentium Plus', serif;
  }
  
  /* Green */
  .success {
    border-color: #b0b5b3;
    color: green;
  }

 
  .btn-holder {
    justify-content: center;
    display: flex;
  }

  .affix ~ .container-fluid {
   position: relative;
   top: 50px;
  }


  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(18, 1, 1);
    background: transparent;
    /* background: rgb(229, 127, 127); */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    color: darkred;
    text-align: center;
    font-weight: 30px;

        border: 2px solid rgb(137, 133, 133);
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: rgb(243, 232, 232)
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    /* background: rgb(245, 13, 13); */
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .logo{
    height: 80px;
    width: 100px;
  }
  .title{
    height: 100px;
    width: 200px;
  }