<div class="bg-img"> 
 
  <div class="row">
    <div class="column">
       <!-- flip card starts  -->
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/images/ikigai.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>Ikigai</h1> 
              <p>Albert Lieberman and Hector Gracia</p> 
              <p>This book will make you stop for a while and make you think “WHO ARE YOU?” and you think you are “some degree holder” or “current designation” is what this question meant to be, then you are wrong.</p>
            </div>
          </div>
        </div>
        <!-- flipcard ends -->
    </div>
  
    <div class="column">
      <!-- flip card starts  -->
       <div class="flip-card">
         <div class="flip-card-inner">
           <div class="flip-card-front">
             <img src="/assets/images/aadujeevitham.jpg" alt="Avatar" style="width:300px;height:300px;">
           </div>
           <div class="flip-card-back">
             <h1>Goat Days</h1> 
             <p>	Benyamin</p> 
             <p>The novel depicts the life of Najeeb Muhammed, an Indian emigrant going missing in Saudi Arabia.describes the novel as "the strange and bitter comedy of Najeeb’s life in the desert" and "a universal tale of loneliness and alienation"</p>
           </div>
         </div>
       </div>
       <!-- flipcard ends -->
   </div>
    
   <div class="column">
    <!-- flip card starts  -->
     <div class="flip-card">
       <div class="flip-card-inner">
         <div class="flip-card-front">
           <img src="/assets/images/randamoozham.jpg" alt="Avatar" style="width:300px;height:300px;">
         </div>
         <div class="flip-card-back ">
           <h1>The Second Turn</h1> 
           <p>M. T. Vasudevan Nair</p> 
           <p>The novel is a retelling of the Indian epic Mahabharata from the perspective of Bhima, the second Pandava.The story deviates from the traditional Mahabharata story as it avoids the divine elements of the ancient epic and re-represent the characters and events realistically.</p>
         </div>
       </div>
     </div>
     <!-- flipcard ends -->
 </div>
    
 <div class="column">
  <!-- flip card starts  -->
   <div class="flip-card">
     <div class="flip-card-inner">
       <div class="flip-card-front">
         <img src="/assets/images/balyakalasakhi.jpg" alt="Avatar" style="width:300px;height:300px;">
       </div>
       <div class="flip-card-back">
         <h1>Balyakalasakhi</h1> 
         <p>Vaikom Muhammad Basheer</p> 
         <p>The story revolves around Majeed and Suhra, who are in love with each other from childhood.The first half of the story, dealing with childhood and adolescence is pleasant, delightfully told. The latter half is grim and filled with sorrow.</p>
       </div>
     </div>
   </div>
   <!-- flipcard ends -->
</div>





</div>
