<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <div class="footer-widget">
              <h3>Stay in touch</h3>
              <div class="footer-widget-content">
                <a href="mailto:sales@example.com" class="contact-link">sales@example.com</a>
                <a href="mailto:support@example.com" class="contact-link red"> support@example.com </a>
                <a href="tel:0121234" class="contact-link">(123) 456-789</a>
                <div class="footer-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                  </div>
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-6">
          <h3>Famous Writers</h3>
          <div class="media">
            <a href="#" class="pull-left">
              <img src="/assets/images/jkr.jpg" alt="" class="media-object" />
            </a>
            <div class="media-body">
              <h4 class="media-heading">JK Rowling</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          
          <div class="media">
            <a href="#" class="pull-left">
              <img src="/assets/images/banyamin.jpg" alt="" class="media-object" />
            </a>
            <div class="media-body">
              <h4 class="media-heading">Benyamin</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          
          <div class="media">
            <a href="#" class="pull-left">
              <img src="/assets/images/mtv.jpg" alt="" class="media-object" />
            </a>
            <div class="media-body">
              <h4 class="media-heading">M T Vasudevan Nair</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          
        </div>
        
        <div class="col-lg-4">
          <h3>Treanding Books</h3>
          <img class="img-thumbnail" src="/assets/images/basheer.jpg" alt="" />
          <img class="img-thumbnail" src="/assets/images/hp.jpg" alt="" />
          <img class="img-thumbnail" src="/assets/images/thakizhi.jpg" alt="" />
          <img class="img-thumbnail" src="/assets/images/ramanan.jpg" alt="" />
        </div>
        
      </div>
    </div>
    <div class="copyright text-center">
      Copyright  <span>Copyright Dhanesh Abraham © 2022. All rights reserved.</span>
    </div>
  </footer>