<div class="bg-img">      
</div>
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
    
    <div id="navbar" data-spy="affix" data-offset-top="197">
        <button class="glow-on-hover" type="button" onclick="window.location.href='/'">Home</button>
        <button class="glow-on-hover" type="button" onclick="window.location.href='/signup'">SignUp</button>
        <button class="glow-on-hover" type="button" onclick="window.location.href='/login'">LogIn</button>
        <button class="glow-on-hover" type="button" onclick="window.location.href='/books'">Books</button>
        <button class="glow-on-hover" type="button" onclick="window.location.href='/addbook'">Add Books</button>
        
        <button class="glow-on-hover" type="button">LogOut</button>
      </div>
  </nav>
  
