
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">

          <div class="col s5">
            <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="bookService.selectedBook._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Bname" #name="ngModel" [(ngModel)]="bookService.selectedBook.Bname" placeholder="Book Name" required>
                  <label>Book Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Author" #name="ngModel" [(ngModel)]="bookService.selectedBook.Author" placeholder=" About the Books">
                  <label>Author Name :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Price" #name="ngModel" [(ngModel)]="bookService.selectedBook.Price" placeholder="Book Price in INR">
                  <label>Book Price :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(bookForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!bookForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
                  </div>
      </div>
    </div>


